@media (max-width: 1269px)
{
    /*---------------
	    Main styles
	---------------*/
    .page_title
    {
        font-size: 50px;
        line-height: 55px;
    }



    /*---------------
		Main section
	---------------*/
    .first_section .about .title
    {
        line-height: 40px;
    }

    .first_section .about .text
    {
        line-height: 28px;

        width: calc(100% - 425px);
    }

    .first_section .about .block
    {
        width: 395px;
    }



    .emergency .text_block b
    {
        line-height: 26px;
    }



    .search_house .slider
    {
        width: 100%;
        margin: 0;
        padding: 0 50px;
    }

    .search_house .owl-carousel .owl-nav .owl-prev
    {
        left: 0;
    }

    .search_house .owl-carousel .owl-nav .owl-next
    {
        right: 0;
    }



    .articles .item .info
    {
        line-height: 20px;

        padding: 15px;
    }

    .articles .item .name a
    {
        font-size: 16px;
    }



    .animal_info
    {
        margin-bottom: 70px;
    }



    .filter
    {
        margin-bottom: 30px;
    }

    .filter form
    {
        padding-left: 0;
    }

    .filter .submit
    {
        margin-left: 15px;
    }



    .animals .grid
    {
        margin-bottom: -40px;
    }

    .animals .animal
    {
        width: calc(100% - 20px);
        margin-bottom: 40px;
    }



    .help_block .grid.level1 > .item
    {
        padding: 24px;
    }


    .help_block .finance .item
    {
        width: calc(25% - 23px);
    }


    .help_block .donation form .method
    {
        margin-left: 12px;
    }


    .help_block .donation form .monthly
    {
        margin-left: auto;
    }


    .help_block .donation form .input.mini
    {
        width: 60px;
    }


    .help_block .donation form input[type=checkbox] + label
    {
        padding-left: 24px;
    }



    /*---------------
       Fundraising
    ---------------*/
    .fundraising .data
    {
        height: 248px;
        padding: 0 48px;

        border-radius: 80px;
    }


    .fundraising .title
    {
        font-size: 28px;
    }


    .fundraising .link a
    {
        font-size: 18px;
        line-height: 36px;

        height: 48px;
        padding: 6px 28px;
    }


    .fundraising .img
    {
        right: 136px;
        bottom: -5px;

        width: 578px;
    }



    /*---------------
       Requisites
    ---------------*/
    .requisites .block_title
    {
        font-size: 26px;
    }


    .requisites .data
    {
        padding: 25px;

        gap: 28px;
    }


    .requisites .method .name
    {
        font-size: 18px;
    }


    .requisites .method .name img
    {
        width: 88px;
        height: 88px;
    }


    .requisites .method .name b
    {
        font-size: 28px;
    }


    .requisites .method .name span
    {
        max-width: calc(100% - 98px);
    }


    .requisites .method .info
    {
        font-size: 14px;

        max-width: 338px;
        padding-left: 98px;
    }


    .requisites .qr_code .logo
    {
        width: 148px;
    }



    /*---------------
		Footer
	---------------*/
    footer .links
    {
        width: 455px;
    }
}
